<p> Hola, <%= @user.email %> </p>
<p> Tu crédito en La Tienda de Arnulfo ha llegado a: <strong> <%= @balance %> </strong>, es hora de tomarnos un café y saldar cuentas </p>
<p> Saludos de parte de todo el equipo de La Tienda de Memo </p>
